@model NetBooking.Models.Footer

<h4 class="row" style="color:white; margin-top: 15px;">@Model.webname</h4>
<p class="row" style="color: white;margin-top: 5px">@Model.diachi</p>
<p class="row" style="color: white;margin-top: 5px">@Model.sdt</p>

<div class="row">
    <p class="tm-copyright-text">Copyright &copy; @Model.copyright</p>
</div>