@model IEnumerable<NetBooking.Models.Footer>
<div class="row" style="color:white; margin-top: 15px;">
    @foreach (var i in Model)
    {
        <p>@i.content</p>
    }
</div>
<div class="row">
    <p class="tm-copyright-text">Copyright &copy; 2023 NetBooking</p>
</div>