@model List<DoAnCuoiKi_NET.Models.Category>
@foreach (var i in Model)
{
    <div class="col-lg-3">
        <div class="categories__item set-bg" data-setbg="/Upload/images/Logo/SHMILY.jpg">
            <h5><a href="/san-pham/@i.meta">@i.name_cate</a></h5>
        </div>
    </div>
}

