@model List<DoAnCuoiKi_NET.Models.Product>
<div class="row featured__filter">
    @foreach (var i in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
            <div class="featured__item">
                <div class="featured__item__pic set-bg" data-setbg="/Upload/images/@i.img">
                    <ul class="featured__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="/@ViewBag.meta/@i.meta/@i.id_product"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="featured__item__text">
                    <h6><a href="/@ViewBag.meta/@i.meta/@i.id_product">@i.name_product</a></h6>
                    <h5>@string.Format("{0:F3}", @i.price) VND</h5>
                </div>
            </div>
        </div>
    }
</div>



