@{ 
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    ViewBag.Title = "SHMILY";
}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Bộ sưu tập</span>
                        </div>
                        <ul>
                            @{
                                Html.RenderAction("getList_Category_1", "Home");
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    Tất cả danh mục
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="Bạn cần tìm gì ?">
                                <button type="submit" class="site-btn">Tìm kiếm</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>Hotline 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="/Upload/images/Banner/KM_8-3.jpg">
                        <div class="hero__text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    @{
                        Html.RenderAction("getList_Category_2", "Home");
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        @{
            Html.RenderAction("getParent_Category", "Home");
        }
    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="~/Upload/images/Banner/Nike.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="~/Upload/images/Banner/Nike.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Sản phẩm mới nhất</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/Assets/img/latest-product/image-latest.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Giá sản phẩm</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/Assets/img/latest-product/image-latest.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Giá sản phẩm</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/Assets/img/latest-product/image-latest.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Giá sản phẩm</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/Assets/img/latest-product/image-latest.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Giá sản phẩm</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/Assets/img/latest-product/image-latest.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Giá sản phẩm</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/Assets/img/latest-product/image-latest.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Giá sản phẩm</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Top sản phẩm</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/Assets/img/latest-product/image-latest.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Giá sản phẩm</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/Assets/img/latest-product/image-latest.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Giá sản phẩm</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/Assets/img/latest-product/image-latest.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Giá sản phẩm</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/Assets/img/latest-product/image-latest.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Giá sản phẩm</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/Assets/img/latest-product/image-latest.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Giá sản phẩm</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/Assets/img/latest-product/image-latest.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Giá sản phẩm</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Đánh giá sản phẩm</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/Assets/img/latest-product/image-latest.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Giá sản phẩm</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/Assets/img/latest-product/image-latest.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Giá sản phẩm</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/Assets/img/latest-product/image-latest.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Giá sản phẩm</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/Assets/img/latest-product/image-latest.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Giá sản phẩm</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/Assets/img/latest-product/image-latest.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Giá sản phẩm</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="/Assets/img/latest-product/image-latest.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Giá sản phẩm</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>From The News</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                @{ Html.RenderAction("getNews", "Home");}
            </div>
        </div>
    </section>
    <!-- Blog Section End -->