@model List<DoAnCuoiKi_NET.Models.Product>
@foreach (var i in Model)
{
    <a href="#" class="latest-product__item">
        <div class="latest-product__item__pic">
            <img src="/Upload/images/@i.img" alt="">
        </div>
        <div class="latest-product__item__text">
            <h6>@i.name_product</h6>
            <span>@string.Format("{0:F3}", @i.price) VND</span>
        </div>
    </a>

}

